.Card {
    border-radius: 10px;
    background-color: #f6f6f672;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f6f6f6;
}

.snack-bar {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 10;
    background-color: #f6f6f6;
}

.sticky-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
    z-index: 1000;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-error-message {
    height: 20px; 
    display: block;
    margin-top: 1px; 
    margin-bottom: 20px; 
    margin-left: 2px; 
    color: #f593c9;
}

.libraryTable {
    display: flex;
    justify-content: center; 
    width: 100%; 
    padding-top: 80px; 
}

.responsive-image {
    width: 20%; 
    height: auto;
    margin-top: 1vh;
    opacity: 0.7;
    max-width: 100%;
  }
  
  @media (min-width: 400px) {
    .responsive-image {
      width: 20%; 
      height: 15%; 
    }
  }
  